<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<appender name="fileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="./perfermanceData.log" />
		<param name="Append" value="true" />                                              <!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	<appender name="Perf4jAppender" class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
        <!-- TimeSlice 用来设置聚集分组输出的时间间隔，默认是 30000 ms, 在产品环境中可以适当增大以供减少写文件的次数 -->
		<param name="TimeSlice" value="1000" />
		<appender-ref ref="fileAppender" />
		<appender-ref ref="Console" />
	</appender>

	<Loggers>
	   <!-- Perf4j 默认用名称为 org.perf4j.TimingLogger 的 Logger -->
		<logger name="org.perf4j.TimingLogger" additivity="false">
			<level value="INFO" />
			<appender-ref ref="Perf4jAppender" />
		</logger>
		<Root level="info">
			<appender-ref ref="fileAppender" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>